@import url(http://fonts.googleapis.com/css?family=Roboto:100,400);
@import "normalize.scss";

@mixin default-text {
	text-align:center;
	color:#fff;
}


body, html{
	height:100%;
}

body{
	padding:0;
	margin:0;
	background-color: #272727;
	font-family: 'Roboto', sans-serif;
}

#container{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;



	h1{
		@include default-text;

		.img-logo{
			width:365px;
			vertical-align: initial;
		}
	}

	p{
	  margin-top: -47px;
	  font-weight:lighter;
	}

	.cover{
		position: absolute;
		left: 50%;
		top: 50%;
		min-width: 100%;
		min-height: 100%;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		z-index: -1;
		opacity: 0.2;
		background: url(../cover/Hello-World.jpg) no-repeat center #000;
	}


	.center-text{
		position: relative;
		top: 50%;
		-webkit-transform:translate(0,-50%);
		-ms-transform:translate(0,-50%);
		transform: translate(0, -50%);

		@include default-text;
	}

}

.icon{
	list-style:none;
	display: inline-block;
	margin:0;

	a, li, span{
		float:left;
		transition:0.5s;
	}
	a{
		margin:0 10px;
	}
	a:hover span{
		opacity:0.5;
		-webkit-transform:rotate3d(0,1,0,360deg);
		-moz-transform:rotate3d(0,1,0,360deg);
		transform:rotate3d(0,1,0,360deg);
	}

	.facebook{
		background:url(../img/icons/facebook.png) no-repeat;
		background-size:100%;
	}
	.github{
		background:url(../img/icons/github.png) no-repeat;
		background-size:100%;
	}
	.g-plus{
		background:url(../img/icons/google-plus.png) no-repeat;
		background-size:100%;
	}
	.linkedin{
		background:url(../img/icons/linkedin.png) no-repeat;
		background-size:100%;
	}
	.twitter{
		background:url(../img/icons/twitter.png) no-repeat;
		background-size:100%;
	}
	.codepen{
		background:url(../img/icons/codepen.png) no-repeat;
		background-size:100%;
	}
	.icon64{
		width:40px;
		height:45px;
		display:block;
		text-indent:1000px;
		overflow:hidden;
	}

}
